body{
  padding: 0;
  margin: 0;
}
.container{
  width: 800px;
  margin: 0 auto;
  background: #fff;
}
.color-design{
margin-top: 3em;
padding-top: 1em;
padding-bottom: 1em;
width: 90%;
height: 50px;
}
.form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.color-inp{
 width: 15%;
 height: 50px;
 margin-left: 5px;
}
.color-sel{
  width: 50%;
  height: 50px;
  border-radius: 5px;
}
.color-btn{
  width: 30%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #222;
  color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.color-btn:hover{
  background: #ccc;
  color: #222;
}
.output{
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}
.flex{
  display: flex;
  flex-direction: column;
}